* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  background: #f2f4f9;
  margin-top: 1rem;
}
.leftBlock {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  place-items: center;
  margin-bottom: auto;
}
.product {
  display: grid;
  place-items: center;
  background: #ffffff;
  color: #000000;
  width: 100px;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.product:hover {
  transform: rotate(5deg);
}
.product:hover img {
  scale: 1.05;
}
input[type="search"] {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  caret-color: #f14;
  border-radius: 5px;
}
.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-top: 1rem;
  border-top: 1px solid #b7abc4;
}
.bottomInfo .btn {
  display: flex;
  gap: 0.5rem;
}
.bottomInfo button {
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.rightBlock {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  padding: 1rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-weight: bold;
  width: 30rem;
}
.cart {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid #b7abc4;
  padding: 0.2rem 0.5rem;
}
.cart img {
  width: 25px;
  border-radius: 10px;
}
.price,
.info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.info {
  width: 80%;
  gap: 0.5rem;
}
.price button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 0.1rem;
}
.cart-container .payment {
  width: 100%;
}
.payment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.payment p,
.payment button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.payment button {
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem;
  background: #7872b9;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
}
.payment button:hover {
  cursor: pointer;
  opacity: 0.75;
}
